<div class="jumbotron">
  <h2>Superdomainmultismartfight...</h2>
  <p class="pull-right">...vote for the best domain name!</p>
</div>

<div class="row">

  <form id="CreateTokenForm" name="CreateDomainForm" class="form-inline"
        role="form" ng-submit="createDomain()">
    <div class="form-group">
      <input type="text" class="form-control" name="domainName" id="domainName"
             placeholder="New Domain" ng-model="newDomain.name"/>
    </div>
    <button type="submit" class="btn btn-success" id="createDomain">Add</button>
  </form>

  <hr/>

  <table id="tokenList" class="table table-striped">
    <thead>
      <tr>
        <th>Domain</th>
        <th>Available</th>
        <th>Owned</th>
        <th>Score</th>
        <th colspan="2">Vote</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="domain in domainList | orderBy:['-score', 'name']">
        <td>{{ domain.name }}</td>
        <td>{{ domain.available }}</td>
        <td>{{ domain.owned }}</td>
        <td>{{ domain.score }}</td>
        <td><a href="#" ng-click="updateScore(domain, -1)">-1</a></td>
        <td><a href="#" ng-click="updateScore(domain, +1)">+1</a></td>
        <td>
          <div class="btn-group pull-right">
            <a class="dropdown-toggle" type="button" data-toggle="dropdown">
              <i class="fa fa-cog"></i>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
              <li>
                <a href="#" ng-if="!domain.owned" ng-click="updateFlag(domain, 'owned', true)">
                  Mark as Owned
                </a>
              </li>
              <li>
                <a href="#" ng-if="domain.owned" ng-click="updateFlag(domain, 'owned', false)">
                  Mark as Not Owned
                </a>
              </li>
              <li>
                <a href="#" ng-id="!domain.hidden" ng-click="updateFlag(domain, 'hidden', true)">
                  Hide Domain
                </a>
              </li>
              <li>
                <a href="#" ng-if="domain.hidden" ng-click="updateFlag(domain, 'hidden', false)">
                  Unhide Domain
                </a>
              </li>
              <li>
                <a href="#" ng-click="deleteDomain(domain)" class="text-danger">
                  Delete Domain
                </a>
              </li>
            </ul>
          </div>
        </td>
      </tr>
      <tr ng-hide="domainList.length">
        <td colspan="7"><p class="text-center">No Domain Found</p>
        </td>
      </tr>
    </tbody>
  </table>

</div>
