<div class="jumbotron">
  <h2>Superdomainmultifight...</h2>
  <p class="pull-right">...vote for the best domain name!</p>
</div>

<div class="row">

  <form id="CreateTokenForm" name="CreateDomainForm" class="form-inline"
        role="form" ng-submit="createDomain()">
    <div class="form-group">
      <input type="text" class="form-control" name="domainName" id="domainName"
             placeholder="New Domain" ng-model="newDomain.name"/>
    </div>
    <button type="submit" class="btn btn-success" id="createDomain">Add</button>
  </form>

  <hr/>

  <table id="tokenList" class="table table-striped">
    <thead>
      <tr>
        <th>Domain</th>
        <th>Available</th>
        <th>Owned</th>
        <th>Score</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="domain in domainList">
        <td>{{ domain.name }}</td>
        <td>{{ domain.available }}</td>
        <td>{{ domain.owned }}</td>
        <td>{{ domain.score }}</td>
        <td></td>
        <td></td>
        <td><a href="#" ng-click="deleteDomain(domain)">delete</a></td>
      </tr>
      <tr ng-hide="domainList.length">
        <td colspan="7"><p class="text-center">No Domain Found</p>
        </td>
      </tr>
    </tbody>
  </table>

</div>
