<div class="row">

  <form id="CreateTokenForm" name="CreateTokenForm" class="form-inline"
        role="form" ng-submit="createToken()">
    <div class="form-group">
      <input type="text" class="form-control" name="tokenValue" id="tokenValue"
             placeholder="New Token" ng-model="newToken.value"/>
    </div>
    <button type="submit" class="btn btn-success" id="createToken">Add</button>

    <button type="button" class="btn btn-success pull-right" ng-click="generateDomains()">
      Generate Domains
    </button>
  </form>

  <hr/>

  <table id="tokenList" class="table table-striped">
    <thead>
      <tr>
        <th>Token</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="token in tokenList">
        <td>{{ token.value }}</td>
        <td><a href="#" ng-click="deleteToken(token)">delete</a></td>
      </tr>
      <tr ng-hide="tokenList.length">
        <td colspan="2"><p class="text-center">No Token Found</p></td>
      </tr>
    </tbody>
  </table>

</div>

